@using Buildit.Web.Models
@model PublicationViewModel
<div class="product-img">
    <a href="~/publication/details/@Model.Id">
        <img src='@Url.Content($"~/Content/Publication Images/{Model.Picture}")' class="img-responsive text-center" alt="@Model.Title">
    </a>
</div>
<div class="shop-content">
    <h3><a href="~/publication/@Model.Id">@Model.Title</a></h3>
    <div>@Model.Author</div>
    <div class="pre-scrollable">@Model.Content</div>
</div>

